---
import Beacon from "./Beacon.astro";

const sections = [
  {
    title: "About",
    links: [
      { href: "/about-this-site", text: "サイトについて" },
      { href: "/about", text: "開発者" },
      { href: "/news", text: "お知らせ・リリース" },
    ],
  },
  {
    title: "Links",
    links: [
      { href: "https://x.com/minagishl", text: "X (Twitter)" },
      { href: "https://github.com/minagishl", text: "GitHub" },
      { href: "https://x.com/minagishl", text: "お問い合わせ" },
    ],
  },
  {
    title: "Legal",
    links: [
      { href: "/privacy-policy", text: "プライバシーポリシー" },
      { href: "/terms-of-service", text: "利用規約" },
      { href: "/disclaimer", text: "免責事項" },
    ],
  },
];
---

<footer class='max-w-screen-md w-full px-4 md:px-10 mx-auto flex flex-col pb-20'>
  <div>
    <div class='flex flex-wrap gap-8 items-start justify-between'>
      {
        sections.map((section) => (
          <div class='w-[45%] md:w-[30%]'>
            <p
              class='text-slate-800 text-base font-semibold m-0'
              aria-label={`${section.title} navigation`}
            >
              {section.title}
            </p>
            {section.links.length > 0 && (
              <div class='flex flex-col'>
                {section.links.map((link) => (
                  <a href={link.href} class='text-slate-800 text-sm mt-1.5 w-fit hover:underline'>
                    {link.text}
                  </a>
                ))}
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
</footer>

<!-- Cloudflare Analytics -->
<Beacon />
